#connectionStatusDiv-3nsKHRBL {
    padding: 5px 20px;
    text-align: center;
    text-align-last: center;
    border-radius: 4px;
}

.offline {
    background-color: #D53F3A;

}

.online {
    background-color: #47A447;
    color: #FFFFFF;
    font-weight: bold;
}

.connecting {
    background-color: #ED9C28;
    color: #FFFFFF;
    font-weight: bold;
}